/* Center the Navbar.Brand */
.navbar-brand {
  padding: 10px;
  }

  
  /* Move the rest of the navbar elements to the right side */
  .navbar-collapse {
    justify-content: flex-end;
    padding-right: 100px;
  }
  
/* Style for nav-link */
.navlink {
    color: #a71b1b; /* Text color */
    font-weight: bold; /* Font weight (adjust as needed) */
    padding: 10px 15px; /* Padding around the link */
    transition: color 0.3s ease-in-out; /* Transition for color change */
    text-decoration: none;
  }
  
  /* Style for nav-link on hover */
.navlink:hover {
  color: #007bff; /* Change text color on hover (adjust as needed) */
}

/* Limit the width of the dropdown container */
.dropdown-menu {
  max-width: 125px; /* Adjust the width as needed */
}

/* Style for the black bar */
.navbar-separator-bar {
  background-color: #000; /* Black background color */
  height: 1px; /* Height of the bar (adjust as needed) */
  margin: 10px 0; /* Margin spacing above and below the bar (adjust as needed) */
}

.linkunderline {
  text-decoration: none;
  color: black;
}

/* Style for nav-category links */
/* Default styles for nav-category links */
.nav-category a{ 
  padding-left: 30px;
  padding-right: 30px;
  --clr: #f36407;
  text-transform: uppercase;
  color: transparent;
  line-height: 1em;
  text-decoration: none;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

.nav-category a::before {
    position: absolute;
    content: attr(data-text);
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.nav-category a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Reduce padding for smaller screens */
  .nav-category {
    padding-left: 10px; /* Adjust as needed for smaller screens */
    padding-right: 10px; /* Adjust as needed for smaller screens */
  }
}

  
  
