/* Center the Navbar.Brand */
.navbar-brand {
  padding: 10px;
  }

  
  /* Move the rest of the navbar elements to the right side */
  .navbar-collapse {
    justify-content: flex-end;
    padding-right: 100px;
  }
  
/* Style for nav-link */
.navlink {
    color: #a71b1b; /* Text color */
    font-weight: bold; /* Font weight (adjust as needed) */
    padding: 10px 15px; /* Padding around the link */
    transition: color 0.3s ease-in-out; /* Transition for color change */
    text-decoration: none;
  }
  
  /* Style for nav-link on hover */
.navlink:hover {
  color: #007bff; /* Change text color on hover (adjust as needed) */
}

/* Limit the width of the dropdown container */
.dropdown-menu {
  max-width: 125px; /* Adjust the width as needed */
}

/* Style for the black bar */
.navbar-separator-bar {
  background-color: #000; /* Black background color */
  height: 3px; /* Height of the bar (adjust as needed) */
  margin: 10px 0; /* Margin spacing above and below the bar (adjust as needed) */
}

.linkunderline {
  text-decoration: none;
  color: black;
}

/* Style for nav-category links */
/* Default styles for nav-category links */
.nav-category { 
  padding-left: 30px;
  padding-right: 30px;
  background: -webkit-linear-gradient(rgb(31, 81, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 1px black;
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Font weight (adjust as needed) */
}


/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  /* Reduce padding for smaller screens */
  .nav-category {
    padding-left: 10px; /* Adjust as needed for smaller screens */
    padding-right: 10px; /* Adjust as needed for smaller screens */
  }
}

  
  
