/* Increase the size of the search bar in the navbar */
.navbarsearchbar{
    width: 400px;
  }

  @media screen and (max-width: 768px) {
    .navbarsearchbar {
      width: 250px; /* Adjust the width for smaller screens */
    }
  }

.faqsearchbar{
  width: 100%;
  display: flex;
  justify-content: center;
}

.reviewsearchbar{
  width: 100%;
  display: flex;
  justify-content: center;
}


