/* Add padding to the left of all sections */
section {
    padding-left: 45px; /* Adjust the value as needed */
  }

body {
    background: url("https://images.pexels.com/photos/2277981/pexels-photo-2277981.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background: -webkit-linear-gradient(rgb(31, 81, 255), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -webkit-text-stroke: 1px black;
  font-size: 3em;
  font-weight: bold;
}
  

.product-card-container {
  display: flex;
  justify-content: flex-start; /* Align cards to the left */
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards as needed */
  padding-right: 20px; /* Add space on the right side */
  border: 4mm ridge rgba(31, 81, 255, .6);
}


